* {
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: linear-gradient(#FAEACA , #EFCFA4);
    border-radius: 99px;
    width: 64.86%;
    height: 44px;
    padding: 5px;
    margin-top: 30px
}

nav {
    margin-left: 20px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    color: #A9895D;
    font-size: 12px;
    transition: .3 ease-in-out;
    cursor: pointer;
}

header nav ul li:hover {
    color: #4A3211;
    cursor: pointer;
}

ul {
    list-style: none;
}

span.header-separator {
    margin: 0 20px;
    width: 1px;
    height: 18px;
    background-color: #EFCFA4;
}


/* 
.header-btn{
    display: flex;
    align-items: center;
    border: none;
    background: linear-gradient(#9BB6B3 , #5F888A);
    border-radius: 99px;
    width: 152px;
    height: 34px;

}


.button-text {
    color: #D6F2EC;
    font-size: 14px;
   
}

.button-img {
    /* padding-right: 20px; */
} */