* {
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#FAEACA , #EFCFA4);
    border-radius: 99px;
    --width: 64.86%;
    height: 44px;
}



ul {
    display: flex;
    list-style: none;
    padding-left: 20px;

    
}

li {
    padding: 14px 40px 14px 0;
}

.header-btn{
    display: flex;
    align-items: center;
    border: none;
    background: linear-gradient(#9BB6B3 , #5F888A);
    border-radius: 99px;
    width: 152px;
    height: 34px;

}

.button-text {
    font-size: 14px;
    padding-right: 10px;
    padding-left: 20px;
}

.button-img {
    padding-left: 20px;;
}