* {
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    justify-content: center;
}

header, .header-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#FAEACA , #EFCFA4);

    width: calc(100vg - 64.86%);
    height: 1.39%;
}



ul {
    list-style: none;

    
}

li {
    padding: 20px;
}

.header-btn {
    background: linear-gradient(#9BB6B3 , #5F888A);
}
